<%= turbo_stream.replace :weather_turbo_frame do %>
  <%= turbo_frame_tag :weather_turbo_frame do %>
    <% if @weather_result.error? %>
      <div class="row">
        <div class="col">
          <h2><%= @weather_result.payload %></h2>
        </div>
      </div>
    <% else %>
      <% forecast_data = @weather_result.payload %>
      <% if forecast_data[:cache_expires_in_mins] %>
        <div class="row">
          <p class="fs-6"><%= "Data can be up to #{forecast_data[:cache_expires_in_mins]} minutes old" %></p>
        </div>
      <% end %>
      <hr/>
      <div class="row">
        <div class="col">
          <h2>Forecast</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Current temperature: <%= forecast_data[:current_temp] %></h2>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          <h2>Forecast</h2>
        </div>
      </div>
      <% forecast_data[:days_forecast].each do |days_forecast| %>
        <div class="row">
          <div class="col">
            Date
          </div>
          <div class="col">
            <%= days_forecast[:date] %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Temp Min
          </div>
          <div class="col">
            <%= days_forecast[:min_temp] %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Temp Max
          </div>
          <div class="col">
            <%= days_forecast[:max_temp] %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Conditions
          </div>
          <div class="col">
            <%= days_forecast[:conditions] %>
          </div>
        </div>
        <hr/>
      <% end %>
    <% end %>
  <% end %>
<% end %>