<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">Enter the address, get the forecast!</h1>
          <%= form_with url: weather_create_path,
                        class: 'form-inline' do |form| %>
            <div class="row">
              <div class="col">
                <%= form.text_field :location,
                                class: 'form-control form-control-lg',
                                placeholder: '1234 street, Columbus, Ohio 43016' %>
              </div>
              <div class="col-auto">
                <%= form.submit 'Forecast', class: 'btn btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
          <br>
          <%= turbo_frame_tag :weather_turbo_frame %>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag "testimonials-1.jpg", class: 'img-fluid rounded-circle mb-3' %>
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! I love this weather app!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag "testimonials-2.jpg", class: 'img-fluid rounded-circle mb-3' %>
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Weather app is amazing. I've been using it to create lots of forecasts."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag "testimonials-3.jpg", class: 'img-fluid rounded-circle mb-3' %>
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making this weather app available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>